<div class="editor-container">
    <h1>{{ 'EDITOR' | translate }}</h1>
    <button mat-raised-button color="primary" (click)="openAddDialog()" class="addbutton">{{ 'ADD_ELEMENT' | translate }}</button>
    <button mat-raised-button color="primary" [routerLink]="'/viewer'" class="addbutton">{{ 'VIEWER' | translate }}</button>
    <mat-table [dataSource]="elements" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> {{ 'NAME' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef> {{ 'DATE_OF_CREATION' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{element.creationDate | date:'short'}} </td>
      </ng-container>
      <ng-container matColumnDef="completionDate">
        <th mat-header-cell *matHeaderCellDef> {{ 'DATE_OF_COMPLETION' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{element.completionDate | date:'short'}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> {{ 'ACTIONS' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="copyElement(element)">{{ 'COPY_ELEMENT' | translate }}</button>
          <button mat-button (click)="deleteElement(element.id)">{{ 'DELETE_ELEMENT' | translate }}</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['name', 'creationDate', 'completionDate', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'creationDate', 'completionDate', 'actions']"></tr>
    </mat-table>
  </div>